_*
*~
.project
.settings
node_modules/
npm-debug.log
.DS_Store

\#*
.\#*

*.swp

ssl/*.key
ssl/*.pem
ssl/*.csr
ssl/cert*

log/servernode
log/channels
log/channel
log/messages
log/clients
log/client
log/servernode.log
log/channels.log
log/channel.log
log/messages.log
log/clients.log
log/client.log

*.geany

Session.vim

.sass-cache
*.css.map
