.col {
    margin-right: 80px;
    margin-bottom: 20px;}
nav {
    height: 60px;
    background-color: #0273a2;
    }
.brand-logo {
    font-size: 2em;
    margin-left: 50px;
    margin-top: 0px;}
ul, li {
    display: inline;
    margin-right: 10px;}
.footer {
  margin-top: 130px;
    padding-top: 50px;
    color: #fff;
    /*background-color: #0d47a1;*/
    background-color: #484c56;
    min-height: 200px;
    height: 4em;
}
.top {
  padding-top: 10px;
  color: #484c56;
  background-color: #fcfcff;
  width: 100%;
  height: 60px;
}

body {
  background-image: url("../images/circles-dark.png");
  background-repeat: repeat;
}