.col {
    margin-right: 80px;
    margin-bottom: 80px;}
nav {
    height: 55px;}
.brand-logo {
    font-size: 2.9em;
    margin-left: 50px;
    margin-top: 0px;}
ul, li {
    display: inline;
    margin-right: 10px;}