/******************/
/** nodeGame css **/
/******************/
/* Shared variables */
/********************/
/** Main Elements **/
/*******************/
noscript {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #FF0000;
  border: 1px dotted #A60000;
  text-align: center;
  background: white;
  padding: 20px 30px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 20px;
  /* 18px; */
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body::after {
  content: "";
  clear: both;
  display: table;
}

.ng-page-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/** Mainframe **/
/**************/
#ng_mainframe {
  /* This creates problems in Chrome #7 nodegame-window */
  /* position: absolute; */
  width: 100%;
  /* min-height: 600px; will be changed by js resize code */
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 0;
  display: block;
  margin: 0 auto;
}

/** Mainframe relative to the header **/
/**************************************/
.ng_mainframe-header-vertical-r {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ng_mainframe-header-vertical-l {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ng_mainframe-header-horizontal-t {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  /* padding-top added via script */
}

.ng_mainframe-header-horizontal-b {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  /* padding-bottom added via script */
}

/** Header **/
/************/
#ng_header {
  position: fixed !important;
  height: auto;
  z-index: 1000;
  margin: 0 auto;
  /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0 0 15px lightgrey;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  font-size: 20px;
  max-width: 42em;
}
#ng_header::after {
  content: "";
  clear: both;
  display: table;
}

/** Header positions **/
/**********************/
.ng_header_position-horizontal-t, .ng_header_position-horizontal-b {
  width: 100% !important;
  height: auto !important;
  margin: 0 auto !important;
  top: 0 !important;
  bottom: auto !important;
}

.ng_header_position-horizontal-b {
  top: auto !important;
  bottom: 0 !important;
}

.ng_header_position-vertical-r, .ng_header_position-vertical-l {
  width: 125px !important;
  height: 100% !important;
  margin: 0 !important;
  right: 0 !important;
  left: auto !important;
}

.ng_header_position-vertical-l {
  right: auto !important;
  left: 0 !important;
}

/** Wait Screen **/
/*****************/
#ng_waitScreen {
  z-index: 10000;
  filter: alpha(opacity=70);
  /*older IE*/
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  /* IE */
  -moz-opacity: 0.7;
  /*older Mozilla*/
  -khtml-opacity: 0.7;
  /*older Safari*/
  opacity: 0.7;
  /*supported by current Mozilla, Safari, and Opera*/
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 30px;
  padding: 40px;
}

/** Info Panel **/
/*****************/

#ng_info-panel {
    margin: 0 auto;
    max-width: 42em;
    /* overflow: hidden; */
}

/* In progress */

/* .slided-close {
    height: 0px;
    -webkit-transition:height, 2s linear;
    -moz-transition: height, 2s linear;
    -ms-transition: height, 2s linear;
    -o-transition: height, 2s linear;
    transition: height, 2s linear;
}
.slided-open {
    max-height: 400px;
    -webkit-transition:height, 2s linear;
    -moz-transition: height, 2s linear;
    -ms-transition: height, 2s linear;
    -o-transition: height, 2s linear;
    transition: height, 2s linear;
} */

/* Handy classes */
/*****************/
.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.hand {
  cursor: pointer;
  cursor: hand;
}

.centered, .requirements, .waitingroom {
  max-width: 42em;
  margin: 0 auto;
}

.requirements, .waitingroom {
  width: 90%;
}


/** WIDGETS **/
/*************/
/** Widgets inside the header **/
/*******************************/
#ng_header .ng_widget {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  padding: 10px;
}
#ng_header .ng_widget .panel-heading,
#ng_header .ng_widget .no-panel-heading {
  border: none;
  background-color: white;
  padding: 0;
  font-weight: bold;
}
#ng_header .ng_widget .panel-body {
  padding: 0;
}
#ng_header .ng_widget:last-child {
  margin-right: 0;
}
#ng_header .backbutton,
#ng_header .donebutton {
  float: right;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
#ng_header .backbutton .panel-heading,
#ng_header .backbutton .no-panel-heading,
#ng_header .donebutton .panel-heading,
#ng_header .donebutton .no-panel-heading {
  display: none;
}

.ng_header_position-horizontal-t .visualround,
.ng_header_position-horizontal-b .visualround {
  margin-right: 10px;
}
.ng_header_position-horizontal-t .visualround .rounddiv,
.ng_header_position-horizontal-t .visualround .stagediv,
.ng_header_position-horizontal-t .visualround .stepdiv,
.ng_header_position-horizontal-b .visualround .rounddiv,
.ng_header_position-horizontal-b .visualround .stagediv,
.ng_header_position-horizontal-b .visualround .stepdiv {
  float: left;
}
.ng_header_position-horizontal-t .visualround .rounddiv .title,
.ng_header_position-horizontal-t .visualround .stagediv .title,
.ng_header_position-horizontal-t .visualround .stepdiv  .title,
.ng_header_position-horizontal-b .visualround .rounddiv .title,
.ng_header_position-horizontal-b .visualround .stagediv .title,
.ng_header_position-horizontal-b .visualround .stepdiv  .title {
  float: left;
  margin-right: 6px;
}
.ng_header_position-horizontal-t .visualround .rounddiv .content,
.ng_header_position-horizontal-t .visualround .stagediv .content,
.ng_header_position-horizontal-t .visualround .stepdiv .content,
.ng_header_position-horizontal-b .visualround .rounddiv .content,
.ng_header_position-horizontal-b .visualround .stagediv .content,
.ng_header_position-horizontal-b .visualround .stepdiv .content {
  float: right;
  display: flex;
}
.ng_header_position-horizontal-t .visualround .stepdiv,
.ng_header_position-horizontal-b .visualround .stepdiv,
.ng_header_position-horizontal-t .visualround .rounddiv,
.ng_header_position-horizontal-b .visualround .rounddiv {
  margin-left: 8px;
  margin-right: 8px;
}
.ng_header_position-horizontal-t .moneytalks .no-panel-heading,
.ng_header_position-horizontal-t .visualtimer .no-panel-heading,
.ng_header_position-horizontal-t .visualstage .no-panel-heading,
.ng_header_position-horizontal-b .moneytalks .no-panel-heading,
.ng_header_position-horizontal-b .visualtimer .no-panel-heading,
.ng_header_position-horizontal-b .visualstage .no-panel-heading {
  float: left;
  margin-right: 8px;
}
.ng_header_position-horizontal-t .moneytalks .no-panel-body,
.ng_header_position-horizontal-t .visualtimer .no-panel-body,
.ng_header_position-horizontal-t .visualstage .no-panel-body,
.ng_header_position-horizontal-b .moneytalks .no-panel-body,
.ng_header_position-horizontal-b .visualtimer .no-panel-body,
.ng_header_position-horizontal-b .visualstage .no-panel-body {
  float: right;
}

/** Widgets outside header **/
/****************************/
/** Visual Stage **/
/******************/
.visualstage {
  padding: 0 10px;
}

.visualstage-current  {

  margin: 0 15px;
  font-weight: bold;
}

.visualstage-previous,
.visualstage-next  {

  margin: 0 15px;
  font-size: 13px;
}

/** Visual Round **/
/******************/
.visualround .title {
  font-weight: bold;
}

/** Language Selector **/
/***********************/
.languageselector {
  width: fit-content;
}
.languageselector .card-header {
  font-size: 18px;
}

.languageselector .card-body label {
  font-size: 20px;
  font-weight: normal !important;
}

.languageselector label.selected {
  font-weight: bold !important;
}

.languageselector label input[type="radio"] {
  margin: 4px !important;
}

/** Feedback **/
/**************/
.feedback-textarea {
  padding: 5px;
  font-size: 16px;
}

/** Custom Input Group **/
/************************/

.custominputgroup td {
    vertical-align: top;
}

.custominputgroup .custominput-maintext {
    margin: 20px 0 0 20px !important;
}

/** Requirements **/
/******************/
.requirements, .waitingroom {
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.requirements-success {
  font-weight: bold;
  color: green;
  padding-top: 15px;
  padding-bottom: 15px;
}

.requirements-fail {
  font-weight: bold;
  color: red;
  padding-top: 15px;
  padding-bottom: 15px;
}

/** Waiting Room **/
/*****************/
.waitingroom .panel-body,
.waitingroom .card-body  {
  text-align: center;
}
.waitingroom .panel-body div#timer-div,
.waitingroom .card-body div#timer-div {
  margin-top: 30px;
}
.waitingroom .panel-body div#exec-mode-div > p#player-count,
.waitingroom .card-body div#exec-mode-div > p#player-count {
  font-size: 40px;
  clear: both;
  margin-top: 30px;
}
.waitingroom .panel-body .div > .visualtimer,
.waitingroom .card-body .div > .visualtimer {
  float: none;
  display: inline;
  font-size: 40px;
  margin: 0;
}
.waitingroom .panel-body div > span#span_dots,
.waitingroom .card-body div > span#span_dots {
  font-size: 40px;
}

.waitingroom a {
    text-decoration: none;
    color: rgb(33,37,41);
}

.waitingroom a:hover {
    text-decoration: underline;
}

.waitingroom .treatment {
    text-align: left;
    font-weight: 200;
    padding: 12px;
    width: 20rem;
    transition: 0.2s;
}

.waitingroom .treatment:hover {
    background: aliceblue;
    box-shadow: 2px 2px 8px;
    cursor: pointer;
}


/** ChoiceTable **/
/*****************/
div.choicetable,
div.choicetable div.panel-body,
div.choicetable div.panel-heading {
  border: 0;
  padding: 0;
}

.choicetable-maintext, .custominput-maintext, .feedback-maintext, .slider-maintext, .dropdown-maintext {
  margin: 20px 0 0 !important;
  padding: 0;
  display: block;
  text-align: left;
  /* maybe only choicetable-maintext */
  margin-bottom: 0px !important;

}
.choicetable-maintext .choicetable-hint,
.choicetable-maintext .custominput-hint,
.custominput-maintext .choicetable-hint,
.custominput-maintext .custominput-hint,
.feedback-maintext .choicetable-hint,
.feedback-maintext .custominput-hint,
.choicetable-maintext .feedback-hint,
.custominput-maintext .feedback-hint,
.feedback-maintext .feedback-hint,
.custominputgroup-maintext .custominputgroup-hint,
.slider-maintext .slider-hint,
.contentbox-maintext .contentbox-hint,
.dropdown-maintext .dropdown-hint
 {
  margin-left: 10px;
}

.choicetable-hint, .custominput-hint, .feedback-hint,
.custominputgroup-hint, .slider-hint, .contentbox-hint,
.dropdown-hint {
  font-color: gray;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  text-align: left;
}

textarea.choicemanager-freetext,
textarea.choicetablegroup-freetext,
textarea.choicetable-freetext {
  margin: 20px 0 0 !important;
  padding: 5px;
  text-align: left;
  float: left;
  width: 100%;
}

table.choicetable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px
}
table.choicetable td {
  word-wrap: break-word;
  border: 1px solid #333;
  text-align: center;
  padding: 5px;
  width: 40px;
  background: white;
  font-weight: normal;
  padding-left: 10px;
}
table.choicetable td.selected {
  background: #333 !important;
  color: #FFF;
  border: 1px solid #333 !important;
}

table.choicetable td.header,
table.choicetable td.choicetable-left,
table.choicetable td.choicetable-right {
  border: 0;
  background: inherit;
}

table.choicetable td.choicetable-left,
table.choicetable td.choicetable-right {
    width: 200px !important;
    font-weight: bold !important;
}

table.choicetable td.choicetable-left {
  padding-right: 15px;
  text-align: right;
}
table.choicetable td.choicetable-right {
  padding-left: 15px;
  text-align: left;
}

table.choicetable td.header {
    font-weight: bold;
    font-size: smaller;
}

table.choicetable td.header:hover,
table.choicetable td.choicetable-left:hover,
table.choicetable td.choicetable-right:hover {
  background: inherit;
  cursor: default;
}

table.clickable td:hover {
  background: #FFE;
  cursor: pointer;
  cursor: hand;
}

table.clickable td:focus {
  background: #FFE;
}

table.choicetable-vertical td {
    text-align: left !important;
}

/* More space between the text of the question and the choices. */
dt.question,
.custominput input {
    margin-top: 20px !important;
}

/* More space between the text of the question and the choices. */
dt.question:first-of-type {
    margin-top: 20px !important;
}

/* ChoiceTableGroup */

/* Speaces between choices in tables */
table.choicetablegroup {
    text-align: center !important;
    border-collapse: separate;
    border-spacing: 5px 12px !important;
}

table.choicetable td,
.custominput input {
    border-radius: 5px;
    border: 1px solid #999;
}

.choicetable tr td {
    font-weight: normal !important;
    font-size: smaller;
    padding: 8px !important;
}

/** ErrBox **/

.slider .errbox,
.choicetable .errbox,
.custominput .errbox,
.custominputgroup .errbox,
.dropdown .errbox {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 5px;
  font-weight: normal;
  color: red;
}

/** CustomInput **/
/*****************/
.custominput input {
  padding: 5px;
  margin-left: 20px;
}

.custominput .panel-body {
  padding: 0;
}

.custominput-checkbox-text {
  font-weight: normal;
  margin-left: 8px;
  font-size: 14px;
}

/** Mood **/
/**********/
div.moodgauge {
  margin: 0 auto;
  text-align: center;
}
div.moodgauge table.choicetable,
div.moodgauge span.choicetable-maintext,
div.moodgauge span.feedback-maintext,
div.moodgauge span.custominput-maintext {
  text-align: center;
  width: auto;
}
div.moodgauge span.choicetable-maintext, div.moodgauge span.feedback-maintext, div.moodgauge span.custominput-maintext {
  margin-bottom: 30px;
  font-weight: bold;
}
div.moodgauge table.choicetable {
  margin: 0 auto;
  text-align: center;
  border-spacing: 0 5px;
  border-collapse: separate;
  width: auto;
}
div.moodgauge table.choicetable td {
  width: 80px !important;
}
div.moodgauge table.choicetable td.choicetable-left {
  min-width: 260px !important;
  font-weight: normal !important;
}
div.moodgauge table.choicetable span.emotion {
  font-weight: bold;
  margin-right: 10px;
}
div.moodgauge table.choicetable td.choicetable-right {
  width: 100px;
  font-weight: normal !important;
}

/** RiskGauge **/
/*********/
div.riskgauge table.choicetable,
div.riskgauge span.choicetable-maintext,
div.riskgauge span.feedback-maintext,
div.riskgauge span.custominput-maintext {
  text-align: center;
  width: auto;
}
div.riskgauge table.choicetable {
  margin: 0 auto;
  text-align: center;
  border-spacing: 0 30px;
  border-collapse: separate;
}

div.riskgauge choicetable-maintext {
  margin-bottom: 10px;
  font-size: 20px;
}

/** SVO and Risk **/
/******************/
div.riskgauge table.choicetable,
div.riskgauge span.choicetable-maintext,
div.riskgauge span.feedback-maintext,
div.riskgauge span.custominput-maintext,
div.svogauge table.choicetable,
div.svogauge span.choicetable-maintext,
div.svogauge span.feedback-maintext,
div.svogauge span.custominput-maintext {
  text-align: center;
  width: auto;
}
div.riskgauge table.choicetable,
div.svogauge table.choicetable {
  margin: 0 auto;
  text-align: center;
  border-spacing: 0 30px;
  border-collapse: separate;
}
div.svogauge choicetable-maintext {
  margin-bottom: 10px;
  font-size: 20px;
}

/** SVO only **/
/**************/

div.svogauge table td {
  width: 60px !important;
}

div.svogauge hr {
  margin: 10px auto;
}
div.svogauge td.choicetable-left hr {
  border-color: black;
}

/** Risk only **/
/***************/

div.riskgauge table td {
  width: 350px !important;
}
div.riskgauge td.choicetable-left {
  width: 50px !important;
}
div.riskgauge .sep {
  margin: 0px auto;
  font-size: 13px;
  display: block;
}

/* Bomb */

div.riskgauge .bomb-table {
    margin-left: 20%;
    margin-right: 20%;
}
div.riskgauge .bomb-box {
    height: 10px;
    background: black;
}

@media (min-width: 1900px) {
    div.riskgauge .bomb-box {
        height: 30px;
    }
    div.riskgauge .bomb-table {
        margin-left: 10%;
        margin-right: 10%;
    }
}

div.riskgauge #bomb_result {
    font-weight: bold;
}
div.riskgauge .bomb_lost {
    color: #fa0404;
}
div.riskgauge .bomb_won {
    color: #1be139;
}
div.riskgauge button.btn-danger {
    display: block;
    margin: auto;
    padding: 0.3em;
    border-radius: 5px;
}
div.riskgauge .risk-info {
    text-align: center;
}
div.riskgauge .risk-info p {
    display: inline-flex;
    margin-right: 20px;
}
div.riskgauge .risk-info span {
    font-weight: bold;
    margin-left: 0.3em;
}

/** EmailForm and FeedbackForm **/
/********************************/
.emailform-input,
.feedback-textarea {
  margin-bottom: 5px;
}

.feedback .btn {
  margin-right: 5px;
}

/** EndScreen **/
/***************/
.endscreen .emailform,
.endscreen .feedback {
  margin-top: 30px;
}

.endscreen .no-panel-body {
  margin: 5px;
}

.endscreen-copy-btn {
  /* height: 2.9em !important; */
}

/* Also in monitor.css */
.panel-collapse-link {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-left: 8px;
}

.docked {
  position: fixed;
  bottom: 0px;
  right: 10px;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}

/** Chat **/
/**********/
.chat {
  font-size: 16px;
  /* not in monitor.css */
}

.chat .panel-body {
  width: 330px;
  height: 380px;
}

.chat_chat {
  overflow-y: scroll;
  height: 280px;
  width: 100%;
  padding: 5px;
}

.chat_textarea {
  resize: none;
  width: 100%;
}

.chat_textarea_btn {
  width: 78%;
  display: inline;
}

.chat_submit {
  height: auto;
  width: 20%;
  max-width: 300px;
}

.chat_inputgroup {
  display: inline-flex;
  width: 100%;
}

.chat_msg, .chat_time,
.chat_msg_quit,
.chat_msg_collapse, .chat_msg_outgoing, .chat_msg_incoming {
  clear: both;
  padding: 5px 10px;
  margin: 1px;
  float: left;
}

.chat_msg_incoming {
  max-width: 150px;
  background: #f4f4f4;
  border-radius: 5px;
}

.chat_msg_outgoing {
  float: right;
  max-width: 150px;
  background: #f2f7ff;
  border-radius: 5px;
}

.chat_time,
.chat_msg_quit,
.chat_msg_collapse {
  font-style: oblique;
  font-size: 13px;
}

/** Slider **/

.container-slider {
    clear: both;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    /* border: 2px solid black; */
}

.fill-slider {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    top: 15px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: calc(100% - 10px);
    height: 10px;
    background: black;
}

.volume-slider {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    background: transparent;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
}
.volume-slider::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.volume-slider:focus {
    outline: none;
}
.volume-slider::-moz-focus-outer {
    border: 0;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid #282d32;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -11px;
}
.volume-slider::-webkit-slider-runnable-track {
    width: 300px;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #fff;
}

.volume-slider::-moz-range-thumb {
    border: 3px solid #282d32;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.volume-slider::-moz-range-track {
    box-sizing: border-box;
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #fff;
}

/* Done in JS, should be done here. */
/* .volume-slider:hover ~ .fill-slider { background: darkturquoise !important; } */

.fill-slider.disabled:hover { 
  background: gray !important;
  cursor: not-allowed;
}

.volume-slider.disabled, .fill-slider.disabled {
  background: gray !important;
  cursor: not-allowed;
}

/* .volume-slider:hover {
    background: darkturquoise !important;
} */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .fill-slider {
        display: none;
    }
}

.volume-slider::-ms-thumb {
    box-shadow: 0 0 0 3px #282d32;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: 2px;
    box-sizing: border-box;
    border: 0;
}
.volume-slider:focus::-ms-thumb {
    border: 0;
}
.volume-slider::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #fff;
    color: transparent;
    box-sizing: border-box;
}
.volume-slider::-ms-fill-lower {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
}
.volume-slider::-ms-fill-upper {
    background: transparent;
}
.volume-slider::-ms-tooltip {
    display: none;
}

.slider-display-value,
.slider-display-nochange {
    clear: both;
    font-size: 14px;
}

.slider-display-nochange {
    float: right;
}

/* Dropdown */

div.dropdown,
div.dropdown div.panel-body,
div.dropdown div.panel-heading {
  border: 0;
  padding: 0;
}

div.dropdown select,
div.dropdown datalist {
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
}

/* Goto */

.goto {
    padding: 0 !important;
    font-size: 12px;
}

.goto select {
    margin-left: 0 !important;
    margin-top: 0 !important;
}
