body {
  height: 100%;
  width: 97%;
  margin: 0;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}

iframe#mainframe {
  width: 100%;
  height: 600px;
  border: 0;
  padding: 10px;
}

div#waiting {
  z-index: 10000;
  filter: alpha(opacity=50); /*older IE*/
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
  -moz-opacity: .50; /*older Mozilla*/
  -khtml-opacity: 0.5;   /*older Safari*/
  opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
  background-color:#000000;
  position:fixed; 
  top:0px; left:0px; width:100%; height:100%; 
  color:#FFFFFF; 
  text-align:center; 
  vertical-align:middle;
  font-weight: bold;
  padding: 20px;
}

div#gn_header {
  width: 90%;
  height: 100px;
  padding: 0;
  color: black;
  border-bottom: 5px dashed #CCC;
  background: #FFFFFC;
}

canvas {
  border: 1px #CCC solid;
}

label {
  display: block;
  float: left;
  min-width: 200px;
}
input[type="range"] {
  margin-bottom: 5px;
  margin-left: 5px
}

/* Widgets */

.ngw-fieldset {
  border: 1px solid #CCC;
  color: black;
}

/* Visual Timer */

fieldset#visualtimer_fieldset {
  float: right;
  width: auto;
  min-width: 100px;

}

div#visualtimer_div {
  font-size: 40px;
  text-align: center;
}

/* Visual State */

fieldset#visualstate_fieldset {
  float: left;
  width: 300px;
  height: 90px;
  padding: 1px 10px;
}

div#VisualState_div {
  width: auto;
  font-size: 16px;
}

/* State Display */

fieldset#statedisplay_fieldset {
  float: left;
  width: 300px;
}

div#statedisplay_div {
  width: auto;
  font-size: 16px;
}

/* Done Button */

button#donebutton {
  float: right;
  clear: none;
  width: 200px;
  height: 90px;
}

/* General nodeGame */

.strong {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}
